* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

body {
  background-color: $body;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  min-height: 60vh;
  margin: 0 auto;
   label {
    position: relative; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
     .spanError {
      color: $red;
      transition: all 300ms $ease;
       span > & {
        color: $red;
      }
    }
    .ng-touched.ng-dirty.ng-invalid {
      border: 1px solid $red;
      transition: all 300ms $ease;
    }
  }
}

   .spanError {
      color: $red;
      transition: all 300ms ease;
    }

// form {
//  margin-top: 100px;
//   label {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     width: 50%;
//     .spanError {
//       color: $red;
//       transition: all 300ms ease;
//     }
//     .inputError {
//       border: 1px solid $red;
//       transition: all 300ms ease;
//     }
//   }
// }

input[type="text"], input[type="date"], input[type="number"], input[type="password"] {
  min-width: 300px;
  height: 36px;
  background-color: $body;
  box-shadow: none;
  border: 1px solid $dark;
  text-indent: 10px;
  transition: all 300ms ease;
  font-size: 16px;
  &:focus {
    border-color: rgba($dark, 0.8);
    box-shadow: 0 1px 1px rgba($dark, 0.035) inset, 0 6px 8px rgba($dark, 0.3);
    outline: 0 none;
  }
}


button {
  min-width: 100px;
  width:100px;
  height: 44px;
  background-color: $dark;
  box-shadow: none;
  border: 1px solid $dark;
  color: $body;
  transition: all 300ms $ease;
  &:hover {
    background-color: $body;
    color: $dark;
  }
  cursor: pointer;
}

ul {
  list-style: none;
}