

<form [formGroup]="registerForm" (submit)="onSubmit()" novalidate>
  <h1>{{ registerFormTitle }}</h1>
  <!-- <h1 *ngIf="registerForm.controls.isSitter.value">Sitter</h1> -->
  <label >Sitter:
    <input type="checkbox" formControlName="isSitter" (change)="onChange()">
  </label>

  <label class="firstname">
    <span class="{{ myValidator.spanClass_firstname }}">
      <span *ngIf="myValidator.spanStar_firstname">*</span>Firstname:
    </span>
    <input class="{{ myValidator.inputClass_firstname }}" formControlName="firstname" (blur)="sendBlur('firstname')">
  </label>
  <!-- <div *ngIf="loginForm.controls.username.errors?.required && loginForm.controls.username.touched">You must fill out your username</div> -->
  <label class="lastname">
    <span class="{{ myValidator.spanClass_lastname }}">
      <span *ngIf="myValidator.spanStar_lastname">*</span>Lastname:
    </span>
    <input class="{{ myValidator.inputClass_lastname }}" formControlName="lastname" (blur)="sendBlur('lastname')" >
  </label>
  <label class="birthDay">
    <span class="">
      <span *ngIf="registerForm.controls.birthDate.status == 'INVALID' && !registerForm.controls.birthDate.pristine">*</span>Birthdate:
    </span>
    <input class="" type="date" class="" formControlName="birthDate" value="1990-01-02" >
  </label>
  <label class="">Area:
    <input class="" formControlName="area">
  </label>
  <label class="">Rating:
    <input type="number" class="" formControlName="rating" min="1" max="5" value="1">
  </label>
  <label class="" *ngIf="registerForm.controls.isSitter.value">Gender:
    <input type="number" class="" formControlName="rating">
  </label>
  <label class="" *ngIf="registerForm.controls.isSitter.value">Rate:
    <input type="number" class="" formControlName="rating">
  </label>
  <p>Form value: {{ registerForm.value | json }}</p>
  <p>firstname value: {{ registerForm.controls.firstname.status | lowercase }}</p>
  <p>Form status: {{ registerForm.status | json }}</p>
  <button type="submit" >Register</button>
</form>
