<form [formGroup]="registerForm" (submit)="onSubmit()" novalidate>
  <h2>{{ registerFormTitle }}</h2>
  <!-- <h1 *ngIf="registerForm.controls.isSitter.value">Sitter</h1> -->
  <label>Sitter:
    <input type="checkbox" formControlName="isSitter" (change)="onChange()">
  </label>

  <label class="firstname">
    <span class="{{ myValidator.spanClass_firstname }}">
      <span *ngIf="myValidator.spanStar_firstname">*</span>Firstname:
    </span>
    <input type="text" class="{{ myValidator.inputClass_firstname }}" formControlName="firstname" (blur)="sendBlur('firstname')">
  </label>
  <!-- <div *ngIf="loginForm.controls.username.errors?.required && loginForm.controls.username.touched">You must fill out your username</div> -->
  <label class="lastname">
    <span class="{{ myValidator.spanClass_lastname }}">
      <span *ngIf="myValidator.spanStar_lastname">*</span>Lastname:
    </span>
    <input type="text" class="{{ myValidator.inputClass_lastname }}" formControlName="lastname" (blur)="sendBlur('lastname')" >
  </label>
  <label class="birthDay">
    <span class="{{ myValidator.spanClass_birthDate }}">
      <span *ngIf="myValidator.inputClass_birthDate">*</span>Birthdate:
    </span>
    <input type="text" class="" type="date" class="{{ myValidator.inputClass_birthDate}}" formControlName="birthDate" value="1990-01-02" (blur)="sendBlur(birthDate)" >
  </label>
  <label class="">Area:
    <input type="text" class="" formControlName="area">
  </label>
  <label class=""> <span> Rating: <span>{{registerForm.controls.rating.value}}</span></span>
    <input type="range" class="" formControlName="rating" min="1" max="5" step="0.01">
  </label>
  <label class="" *ngIf="registerForm.controls.isSitter.value">Gender:
    <input type="number" class="" formControlName="gender">
  </label>
  <label class="" *ngIf="registerForm.controls.isSitter.value">Rate:
    <input type="number" class="" formControlName="rate">
  </label>
  <!-- <p>Form value: {{ registerForm.value | json }}</p>
  <p>firstname value: {{ registerForm.controls.firstname.status | lowercase }}</p>
  <p>Form status: {{ registerForm.status | json }}</p> -->
  <button type="submit">Register</button>
</form>
